@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);

:root {
  font-family: 'Inter', '42dot Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fc-today-bg-color: #2799c3;
}

@theme {
  --color-primary: #2799c3;
  --color-secondary: #2182a7;
}

/* 웹킷 브라우저(Chrome, Edge, Safari)용 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바 너비 */
  height: 8px; /* 가로 스크롤바 높이 */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* 스크롤바 색상 */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* 트랙 색상 */
}